<div id="messages">
	<h1>All my messages</h1>

  <table>
		<th>Name</th>
		<th>Message</th>

    <% _.each(messages, function(message) { %>
		<tr>
			<td><%=message.author%></td>
			<td><%=message.content%></td>
		</tr>
		<%})%>
    
	</table>

</div>

<div id="newMessage">
  <h1>Add a new message</h1>

  <form action="/message" method="post">

    <div class="field-wrap">
      <label>
        Full Name<span class="req">*</span>
      </label>
      <input name="author" type="text" required autocomplete="off" />
    </div>

    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input name="email" type="email" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label>
        Message<span class="req">*</span>
      </label>
      <textarea name="content" required>Enter text here...</textarea>
    </div>

    <button type="submit" class="button button-block"/>Post</button>

  </form>
</div>
